/* Color scheme
#0080B8
#3DE3B5
#50FA64
#A1E33D
#FFF7A8
*/

body,
main {
    background-color: #3DE3B5;
    margin: 20px;
    
}

body {
    margin: 0;
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    color: #272727;
    font-weight: 300;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 0.75rem;
    
    
}
img {
    max-width: 100%;
    height: auto;
    padding: 0.5rem;
    
}
p {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: black;
    padding: 1rem;
}

h1
{
    text-align: left;
    text-shadow: 2px 2px 8px #FFF7A8;
    padding: 1rem;
    font-family: 'Yeseva One', 'Brush Script MT', cursive;
}
/* Navigation styles */
/* Reference: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav */
nav {
   
    background-color: #333;
    width: 100%;
    overflow: auto; 
    top: 0;
    background: #0080B8;
    box-shadow: 0 1px 10px;
    z-index: 99;
    margin: auto;
  }

  nav ul li{
    list-style: none;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: 1rem;
    
  }
  
  nav ul li:hover {
    background-color: #FFF7A8;
    color: black;
  }
  
  nav #active {
    background-color: #3DE3B5;
    color: white;
  }
 

  .masthead {
    
    background-image: url("/img/mastheadImg.jpg");
    max-width: 100%;
    max-height: auto;
    

}
  .main-content{
      background-color: transparent;
  }
  .controls{
      width: 100%;
      height: 60px;
      display: flex;
      background-color: transparent;
      margin-bottom: 5rem;
  }
  .buttonMenu{
      color: black;
      background-color: white;
      /* padding: 1rem; */
      box-shadow: 10px 10px 2px 1px #A1E33D;
      margin: auto;
      overflow: auto; 
      display: inline-block;
      max-width: 25%;
      height: auto;
      
  }


  /* .buttonMenu m1,.buttonMenu m2,.buttonMenu m3{
        padding: 10%;
  } */
  .buttonMenu img{

    max-width: 30px;
    height: auto;
    margin: 30px;
    background-color: white;
}

  #btn-active{
    background-color: #0080B8;
    color: black;
   

  }

  /* #btn-active img{
    background-color: #3DE3B5;
    color: black;
  } */
  
  .main-content .controls img{
      width: 100%;
      height: 100%;
  }
/* Footer Social Media Icon Styles */
.social {
    width: 100%;
    bottom: 0;
    left: 0;
    
    /* position: absolute; */
    text-align: center;
}
.social ul {
    list-style-type: none;
    align-items: center;
    /* text-align: center; */
    
}
.social ul li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 0.5rem;
    
}
.social ul li a {
    color: #0080B8;
    font-size: 1.6;
    text-shadow: 2px 2px #000;
}
.social ul li a:hover {
    color: #212121;
    text-shadow: 2px 2px #0080B8;
}

/* Footer copyright */

footer {
    /* position: relative; */
    display: inline-block;
    width: 100%;
    
    
    
}

p.copyright {
	position: absolute;
	width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
	text-align: center;
	/* bottom:0;
    position: fixed; */
}

/* Breakpoint - 30 rem */
@media (max-width: 480px) { 
   
      
  }

/* Break-point for responsive design will be at: 30rem. Max-width of content is 60rem. */
@media (min-width: 481px) and (max-width: 960px) { 
    body
    {
    font-size: 1rem;
    }
    nav {
        width: 100%;
        overflow: auto;
    }
    nav ul li {
   
    float: left;
    width: 20%;
    display: block;
      }
    
      img{
        max-width: 25%;
        height: auto;
        position: relative;
        float: left;
    }

    .dynamic-content p{
        position: absolute;
        text-align: left;
        float: right;
       
    }
   
}


/* Desktop - greater than 60rem(960px) */
@media (min-width: 961px){ 
    body
    {
    font-size: 1rem;
    max-width: 960px;
    align-content: center;
    }
    nav{
        width: 100%;
        overflow: auto;
    }
    nav ul li {
    float: left;
    width: 20%;
    display: block;
      }
    img{
        max-width: 25%;
        height: auto;
        position: relative;
        float: left;
    }

    .dynamic-content p{
        position: absolute;
        text-align: left;
        float: right;
       
    }
    body{
        max-width: 960px ;
        margin: auto;
      }

    .social {
        margin-left: 0;
    }
   
}